// src/styles/mixins/_animations.scss
@use '../tokens' as *;

@mixin transition($properties...) {
  $transitions: ();
  @each $property in $properties {
    $transitions: append(
      $transitions,
      $property
        token('motion', 'duration', 'base')
        token('motion', 'easing', 'default'),
      comma
    );
  }
  transition: $transitions;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}
